{% extends "base_layout.html" %}

{%block content %}

<form action="/enviar" method="post">
    <div class="form-group">
        <label for="nombre">nombre</label>
        <input type="text" class="form.control" id="nombre" required>
    </div>

    <div class="form-group">
        <label for="apellido">apellido</label>
        <input type="text" class="form.control" id="apellido" required>
    </div>

    <div class="form-group">
        <label for="edad">edad</label>
        <input type="text" class="form.control" id="edad" required>
    </div>

    <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form.control" id="email" required>
    </div>

    <div class="form-group">
        <label for="celular">celular</label>
        <input type="text" class="form.control" id="celular" required>
    </div>
    
    <button type="submit" class="btn btn-primary">submit</button>
</form>

{% endblock %}